extends ../../views/default/layout.pug
block links
  link(href="/sample/src/main.css" rel="stylesheet" type="text/css")
block scripts
block content
  h2 I am a sample landing page
  p the layout is app default layout