extends ../default/layout.pug
block scripts
  
block content
  -var hello = true
  -var footer = "I am a footer"
  h2 #{hello?'hello':'goodbye'}
  h3 #{title ? 'have title' : 'dun have title'}
block foot
  p #{footer}